.places {
	text-align: center;
}
.places h1 {
	text-align: left;
	font-size: 30px;
}
article {
	display: inline-block;
	width: 390px;
	margin: 20px;
	padding: 20px;
	padding-top: 0px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	position: relative;
}
article h2 {
	font-size: 30px;
}
.places div.price_by_night {    
        height: 60px;
        min-width: 60px;
        line-height: 60px;
	position: absolute;
	margin-bottom: 20px;
	padding: 5px;
	top: 10px;
	right: 10px;
        border: 4px solid #FF5A5F;
        border-radius: 100%;
	font-size: 30px;
	color: #FF5A5F;
}
.places div.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	margin-top: 40px;
	margin-bottom: 0px;
	display: flex;
	justify-content: space-around;
}
div.max_guest, div.number_rooms, div.number_bathrooms {
	height: 100%;
	padding-top: 55px;
	background-repeat: no-repeat;
}
.max_guest {
	background-image: url(../images/max_guest-icon_group.png);
}
.number_rooms {
        background-image: url(../images/number_rooms-icon_bed.png);
}
.number_bathrooms {
        background-image: url(../images/number_bathrooms-icon_bath.png);
}
div.user, div.description {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
